<section class="section-pagetop bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            <h2 class="title-page">Shopping cart</h2></div>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent justify-content-center">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cart</li>
                </ol>
            </nav>
        </div>
    </div> 
</section>
    
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            <main class="col-md-9">
                <div class="card">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col">Product Name</th>
                                <th scope="col" width="120">Quantity</th>
                                <th scope="col" width="120">Price</th>
                                <th scope="col" class="text-right" width="200"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cart of carts;let i=index;">
                                <td>
                                    <figure class="itemside">
                                        <div class="aside"><img [src]="createImgPath(cart.image)" class="img-sm" alt="" ></div>
                                        <!-- <figcaption class="info">
                                            <a href="#" class="title text-dark">{{cart.image}}</a>
                                            <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
                                        </figcaption> -->
                                    </figure>
                                </td>
                                <td>
                                    <p><a [routerLink] ="['/product-single',cart.product_Id]">{{cart.productName}}</a></p>
                                </td>
                                <td>
                                    <select class="form-control" id="q{{i}}">
                                        <option value="" selected>select value</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">{{cart.price}} INR</var>
                                        <small class="text-muted"> {{cart.price}} INR each </small>
                                    </div> 
                                </td>
                                <td class="text-right">
                                    <a href="" class="btn btn-light btn-small mb-3 rounded">wishlist</a>
                                    <a (click)="removecartitem(cart.id,cart.product_Id)" class="btn btn-light btn-small mb-3 rounded">Remove</a>
                                </td>
                            </tr>
                            <!-- <tr>
                                <td>
                                    <figure class="itemside">
                                        <div class="aside"><img src="assets/images/items/2.jpg" class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark">Product name goes here nice</a>
                                            <p class="text-muted small">Size: XL, Color: blue, <br> Brand: Gucci</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">$149.97</var>
                                        <small class="text-muted"> $75.00 each </small>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <a href="" class="btn btn-light btn-small mb-3 rounded">wishlist</a>
                                    <a href="" class="btn btn-light btn-small mb-3 rounded">Remove</a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <figure class="itemside">
                                        <div class="aside"><img src="assets/images/items/3.jpg" class="img-sm"></div>
                                        <figcaption class="info">
                                            <a href="#" class="title text-dark">Another name of some product goes just
                                                here</a>
                                            <p class="small text-muted">Size: XL, Color: blue, Brand: Tissot</p>
                                        </figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <select class="form-control">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                    </select>
                                </td>
                                <td>
                                    <div class="price-wrap">
                                        <var class="price">$98.00</var>
                                        <small class="text-muted"> $578.00 each</small>
                                    </div> 
                                </td>
                                <td class="text-right">
                                    <a href="" class="btn btn-light btn-small mb-3 rounded">wishlist</a>
                                    <a href="" class="btn btn-light btn-small mb-3 rounded">Remove</a>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                    <div class="card-body border-top">
                        <a  (click) ="takeConfirmation();" class="btn btn-primary float-md-right"> Make Purchase <i class="fa fa-chevron-right"></i></a>
                        <a routerLink="/" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping</a>
                    </div>
                </div> <!-- card.// -->
                <div class="alert alert-success mt-3">
                    <p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
                </div>
            </main> <!-- col.// -->
            <aside class="col-md-3">
                <!-- <div class="card mb-3">
                    <div class="card-body">
                        <form>return confirm('Are you sure you want to make purchase?')
                            <div class="form-group">
                                <label>Have coupon?</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" name="" placeholder="Coupon code">
                                    <span class="input-group-append">
                                        <button class=" btn-primary btn-sm rounded">Apply</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div> 
                </div>  -->
                <div class="card">
                    <div class="card-body">
                        <!-- <dl class="dlist-align">
                            <dt>Total price:</dt>
                            <dd class="text-right">USD 568</dd>
                        </dl>
                        <dl class="dlist-align">
                            <dt>Discount:</dt>
                            <dd class="text-right">USD 658</dd>
                        </dl> -->
                        <dl class="dlist-align">
                            <dt>Total:</dt>
                            <dd class="text-right  h5"><strong>{{TotalPrice}} INR</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="assets/images/misc/payments.png" height="26">
                        </p>
                    </div> <!-- card-body.// -->
                </div> <!-- card .// -->
            </aside> <!-- col.// -->
        </div>
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->